@import '../../../styles/index.scss';

.landingTemplateContainer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../../assets/images/new.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: $primaryColor;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
}

