.statisticsBox {
  display: flex !important;
  justify-content: center;
  background-color: #181F32 !important;
  border-radius: 5px;
  border: none !important;
  color: white;
  text-align: center;
  padding: 50px;
  transition: all 1s;
  align-items: center;

  h4 {
    margin-left: 20px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: black;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(141, 141, 141, 0.18);
    transform: translate(0px, -20px);
    transition: all 1s;
  }


}